#root {
  display: flex;
  justify-content: center;
  padding: 40px;
}

.wrapper {
  display: flex;
  flex-direction: column;
  width: 400px;
}
.todo {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 100%;
}

.todo div {
  display: flex;
  gap: 5px;
}

ul {
  padding: 0;
}
ul li {
  list-style: none;
  display: flex;
  height: 30px;
  align-items: center;
  margin: 5px 0;
}
ul li p {
  padding: 4px;
  margin: 0;
}
ul li input {
  font-size: 15px;
}

.completed p {
  text-decoration: line-through;
}

.loading {
  animation: loading 1s infinite;
}

.error {
  color: red;
}

@keyframes loading {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.2;
  }
  100% {
    opacity: 1;
  }
}
